*.iml
.gradle
/local.properties
# {RSTG}: Do no include .idea directory
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#{RSTG}: Do not include these, no content for now
app/src/androidTest
app/src/test



